<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>View customers</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers">View <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div th:text="${resultFor}"></div>

<table class="table table-striped">
    <thead class="thead-dark">
    <th><h3 class="display-6">Track</h3></th>
    </thead>
    <tbody>
    <tr th:each="tra:${track}">
        <td th:text="${tra.getName()}"></td>
        <td th:text="${tra.getArtistName()}"></td>
        <td th:text="${tra.getAlbumTitle()}"></td>
        <td th:text="${tra.getGenreName()}"></td>
    </tr>
    </tbody>
</table>-->

</body>
</html>